{% extends "base.html" %}

    {% block content %}
    
<marquee onmouseover="stop()" onmouseout="start()">
    {% for news in newsData %}
    <a href="/newsDetail/{{news.news_slug}}">{{news.news_title}}</a>  &nbsp;&nbsp;&nbsp;
    {% endfor %}
</marquee>
    <!-- MAIN CONTENT AREA -->
    <main class="main-content">
        <section id="home-page">
            <div class="hero-section">
                <h1>Your Health Is Our Top Priority</h1>
                <p>Providing world-class medical services with expert doctors and advanced technology 24/7.</p>
                <button class="btn" onclick="bookAppointment()">Book Appointment</button>
            </div>

            <div class="services-container">
                <h2 class="section-title">Our Medical Services</h2>
                
                <form method="get" id="searchbox">
                    <input type="text" name="servicesname" value="" />
                    <input type="submit" value="Search">
                </form>
                <div class="services-grid">

                    {% for n in ServiceData %}

                    <div class="service-card">
                        <h3>{{n.Service_title}}</h3>
                        <p>{{n.Service_dec}}</p>
                    </div>
                    
                    {% endfor %}

                    {% comment %} <div class="service-card">
                        <h3>Pediatrics</h3>
                        <p>Specialized medical care for infants, children, and adolescents.</p>
                    </div>
                    <div class="service-card">
                        <h3>Emergency Care</h3>
                        <p>24/7 trauma and emergency response services with fully equipped ICUs.</p>
                    </div> {% endcomment %}
                </div>
            </div>
        </section>
    </main>

    <!-- FOOTER SECTION -->
    {% endblock %}